h2 {
    color: Grey;
    font-size: 30px;
    padding: 20px;
}

.Name-me {
        color: #fcde58;
        font-size: 70px;
        padding:    10px;
} 

.Link-External {

                color: rgba(243, 235, 235, 0.856);
                font-size: 30px;
                text-decoration: none;
}

.Link-External:hover {
                     color: rgba(243, 204, 30, 0.753);
                    text-decoration:underline;                
}
p {
    font-size: 13px;
}
.main1 {
        background: rgba(2, 0, 0, 0.568);
        padding: 20px 10px 5px 20px;
        text-align:center;
        background-image:url("Outils/R.png");  
}
.Link-External{
    margin: 0 14px;
}


.Art1,.Art2,.Art3,.Art4 {
    background: rgba(128, 128, 128, 0.377);
    padding: 10px 5px 10px 10px;
    padding: 12px;
    line-height: 1.4;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align:center;

}

.Art5 {
    font-size: 10px;
    text-align: center;
}

.Image {
        width:20%;
        height: auto;
        padding:30px;
        
    }

body {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    font-family: cursive;
    letter-spacing: 0.2;
}

.desc {
    font-size: 17px;
    color: rgb(5, 5, 5);
}

.btn { 
    background-color: rgba(12, 11, 11, 0.568);
    color: rgb(255, 255, 255);
    padding-left: 200px;
    padding-right: 200px;
    font-family: cursive;
    text-decoration: none;
    text-align: center;
    font-size: 23px;
}

.btn:hover {
            color: rgba(175, 168, 168, 0.527);
}
span {
    text-decoration:underline
}

.Hire {
    color:rgba(243, 235, 235, 0.856);
                font-size: 30px;
                text-decoration: none;
}
.Hire:hover {
    color: rgba(243, 168, 30, 0.753);
    text-decoration:underline;

}



